<ul class="posts">
    {% for post in posts %}
    <li class="post col-md-12">
            <h4><a href="{{ url_for('.projnamepage', id=post.id) }}">{{post.title}}</a></h4>
            {% for researcher in post.researchers %}
                <img class="img-circle" src="{{ researcher.gravatar(size=20) }}"> <a href="{{ url_for('.user', username=researcher.username) }}">{{ researcher.name }}</a>{% endfor %}
    </li>
        {% endfor %}
    <li class="post">
        <a href="{{ url_for('spandex.user_projects', user=user.username) }}"> View All </a>
    </li>
</ul>
