<ul class="posts">
    {% for post in posts %}
    <li class="post projects col-md-12">
        <script>var active = '{{ post.active }}';
                console.log(active)</script>
        <div class="post-content" style="{% if post.active != True %}background: #ecf0f1;{% endif %}">
            {% if post.active != True %}
                <span class="badge">Not Public</span>
            {% endif %}
            <h3>{{post.title}}</h3>
            <h5><a href="{{ url_for('.projnamepage', id=post.id) }}">{{post.full_title}}</a></h5>
            {% if post.website %}<b>Website: </b><a href="{{ url_for('.projnamepage', id=post.id) }}" target="_blank">{{post.website}}</a>{% endif %}<br/>
            <div class="post-author"><b>Researchers</b>: {% for researcher in post.researchers %}
                <img class="img-circle" src="{{ researcher.gravatar(size=20) }}"> <a href="{{ url_for('.user', username=researcher.username) }}">{{ researcher.name }}</a>{% endfor %}</div>
                 {% if post.other_researchers %}
                <b>External Researchers: </b> {{ post.other_researchers }}
                {% endif %}
                {% if post.publications.count() >= 1 %}
                <b>Associated Publications:</b> <ul>
                    {% for publication in post.publications %}
                        <li><a href="{{ url_for('.pubnamepage', id=publication.id) }}">{{ publication.full_title }}</a></li>
                    {% endfor %}
                </ul>
                
                {% endif %}

            </p>
            {% if post.brief_synopsis %}
            <p class="post-body">{{ post.brief_synopsis }}</p>
            {% endif %}
            <p class="post-body">{% if post.twitter_name %}
                <a href = "http://twitter.com/{{ post.twitter_name }}" target="_blank"><span class="socicon">a</span> {{ post.twitter_name }}</a>&nbsp;
            {% endif %}
            {% if post.facebook %}
                <a href = "{{ post.facebook }}"><span class="socicon">b</span></a> &nbsp;
            {% endif %}
           </p>
           <a class="btn btn-default" href="{{ url_for('.projnamepage', id=post.id) }}"><span class="glyphicon glyphicon-eye-open"></span> View</a>
           {% for researcher in post.researchers %}
                {% if current_user == researcher  %}
                <a class="btn btn-primary" href="{{ url_for('.edit_project', id=post.id) }}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                 {% endif %}
                {% endfor %}
            {% if current_user.is_administrator() %}
            <a class="btn btn-danger" href="{{ url_for('.edit_project', id=post.id) }}"><span class="glyphicon glyphicon-pencil"></span> Edit [Admin]</a>
            {% endif %}
           
            </div>
             </p>
        </li>
        {% endfor %}
</ul>
