<ul class="posts">
    {% for publication in publications %}
    <li class="post">
        <div class="post-content" style="{% if publication.active != True %}background: #ecf0f1;{% endif %}">
            {% if publication.active != True %}
                <span class="badge">Not Public</span>
            {% endif %}
            <h5><a href="{{ url_for('.pubnamepage', id=publication.id) }}">{{publication.full_title}}</h5></a>
            <div class="post-author"><b>Researchers</b>: <span class="researcher_list">{% for researcher in publication.researchers %}
                        <img class="img-circle" src="{{ researcher.gravatar(size=20) }}"> <a href="{{ url_for('.user', username=researcher.username) }}" ><a href="{{ url_for('.user', username=researcher.username) }}" class="sublink">{{ researcher.name }}</a></span>{% endfor %}<br/>
                {% if publication.other_researchers %}
                <b>Author List: </b> {{ publication.other_researchers }}
                {% endif %}
                {% if publication.projects %}
                        <b>Project</b>: <a href="{{ url_for('.projnamepage', id=publication.id) }}" class="sublink"><span class="text-capitalize">{{ publication.projects.title }}</span></a></div>
                {% endif %}
            <div class="post-author">
                <p><b>Citation</b>: {{publication.citation}}</p>
                {% if publication.brief_synopsis %}
                <p> {{ publication.brief_synopsis }}</p>
                {% endif %}
            <p class="post-body">

            <a class="btn btn-default" href="{{ url_for('.pubnamepage', id=publication.id) }}"><span class="glyphicon glyphicon-eye-open"></span> View</a>
            {% for researcher in publication.researchers %}
                {% if current_user == researcher  %}
                <a class="btn btn-primary" href="{{ url_for('.edit_publication', id=publication.id) }}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                {% endif %}
                {% endfor %}
            {% if current_user.is_administrator() %}
            <a class="btn btn-danger" href="{{ url_for('.edit_publication', id=publication.id) }}"><span class="glyphicon glyphicon-pencil"></span> Edit [Admin]</a>
            {% endif %}

        </p>
        </div>
        </li>
        {% endfor %}
</ul>
