<ul class="posts">
    {% for researcher in researchers %}
    <li class="post researchers col-md-3">
        <div class="post-content">
            <img class="img-circle center-block" src="{{ researcher.gravatar(size=100) }}">
             <h3><a href="{{ url_for('.user', username=researcher.username) }}">{{ researcher.name }}</a></h3>
        {% if researcher.jobtitle %}
        <h5>{{ researcher.jobtitle }}</h5>
        {% endif %}
        {% if researcher.pub_email or researcher.twitter or researcher.linkedin or researcher.google %}
            {% if researcher.pub_email %}
                <a href = "mailto: {{researcher.pub_email}}"><span class="socicon">1</span></a> &nbsp;
                {% else %}
                <a href = "mailto: {{researcher.email}}"><span class="socicon">1</span></a> &nbsp;
            {% endif %}
            {% if researcher.twitter_name %}
                <a href = "http://twitter.com/{{ researcher.twitter_name }}" target="_blank"><span class="socicon">a</span></a> &nbsp;
            {% endif %}
            {% if researcher.linkedin %}
                <a href = "{{ researcher.linkedin }}"><span class="socicon">j</span></a> &nbsp;
            {% endif %}
            {% if researcher.google %}
                <a href = "{{ researcher.google }}"><span class="socicon">c</span></a> &nbsp;
            {% endif %}

        {% endif %}
        {% if current_user.is_administrator() %}
        <p><a class= "badge" href="mailto:{{ researcher.email }}">{{ researcher.email }}</a><br>
        <span class="badge">Last seen {{ moment(researcher.last_seen).fromNow() }}.</span>
        {% endif %}
           
           
            </div>
             </p>
        </li>
        {% endfor %}
</ul>