{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Life Cycle{% endblock %}

{% block page_content %}
<div class="banner jumbotron">

		<h1><span class="lc-icon-delta"></span> Spandex</h1>
		<hr/>
		<span>The Home of Demographic Research</span>
		<hr/>
		<h2><a href="http://www.twitter.com/spand_ex" target="_blank"><span class="socicon">a</span>  Coming Soon</a></h2>

	</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='impress.js') }}"></script>
<script>impress().init();
</script>
{% endblock %}

