{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Life Cycle{% endblock %}

{% block page_content %}
<div class="banner jumbotron">

		<h1><span class="lc-icon-delta"></span> Spandex</h1>
		<hr/>
		<span>The Home of Demographic Research</span>
		<hr/>
</div>

<h3>Recent Updates</h3>
<div id="tweets" class="row">
{% for tweet in tweets %}
	<div class="col-xs-2"></div>
	<div class="tweetweet col-xs-12 col-lg-3 col-md-3" style="padding: 10px 5px 5px 10px; margin: 10px 5px 5px 10px; background: #ecf0f1">
		<div class="row">
			<div class="{% if tweet.media %}col-xs-6{% else %}col-xs-12{% endif %}">
				<p>"{{ tweet.text }}"</p>
				by <img src="{{ tweet.profile_image_url }}" class="img-circle" width="20">&nbsp;<a href="http://twitter.com/{{tweet.user_screen_name}}" target="none" style="color: #{{ tweet.profile_link_color }}">@{{ tweet.user_screen_name }}</a>
			</div>
				{% if tweet.media %}
				<div class="col-xs-5">
					
					{% for media in tweet.media[-1:] %}
					
						<img src="{{ media.media_url }}" class="img-responsive"><br/>
					
					{% endfor %}
			    </div>	
				{% endif %}

		</div>
		
	</div>
{% endfor %}
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='impress.js') }}"></script>
<script>impress().init();
</script>
{% endblock %}

