@font-face {
    font-family: 'socicon';
    src: url('font/socicon-webfont.eot');
    src: url('font/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/socicon-webfont.woff') format('woff'),
         url('font/socicon-webfont.ttf') format('truetype'),
         url('font/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #f9f9f9;
    -webkit-font-smoothing: antialiased;
    color: #333333;
}

.socicon {
    font-family: 'socicon' !important;
}

.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}

.authortag {
    padding: 8px 5px;
    display: inline-block;
    background: #05c9c0;
    margin: 5px;
}

.pubtag {
    padding: 8px 5px;
    display: inline-block;
    background: #f1c40f;
    margin: 5px;
}

.researcher_list {
/*    visibility: hidden;*/
}

.add {
    background: #ecf0f1;
    color: #333;
}

li.add a {
    color: #333;
}

li.dropdown.add > a {
    color: #333;
}

div.controlin,
div.controlout,
div.controldisabled,
div.added,
div.deleted {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2em;
    margin: 5px;
    -webkit-box-shadow: 7px 7px 0px 0px rgba(236, 240, 241, 0.75);
    -moz-box-shadow:    7px 7px 0px 0px rgba(236, 240, 241, 0.75);
    box-shadow:         7px 7px 0px 0px rgba(236, 240, 241, 0.75);
}

div.controlin,
div.added {
    background: #2ecc71;
}

div.controlout,
div.deleted {
    background: #e74c3c;
}

div.controldisabled {
    background: #ecf0f1;
    cursor: default;
}

div.flask-pagedown-preview {
    padding: 0.5em;
    margin: 1em;
    text-align: justify;
    background: #ecf0f1;
    border: 2px dotted #ecf0f1;
}

div.hr {
    border-bottom: 1px solid #eee;
}

a.sublink {
    text-decoration: none;
    font-weight: normal !important;
}

.post-author {
    font-weight: normal !important;
}

.wtform {
    padding-bottom: 50px;
}

.navbar,
.navbar-inverse {
    font-size: 1em;
    background: #fff;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid #ececec;
    min-height: 50px;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background: #ececec !important;
    color: #FFAB06;
}

.navbar-brand {
    color: #05c9c0 !important;
    font-size: 1.5em
}

.navbar.navbar-inverse li a {
    color: #333;
}

.navbar.navbar-inverse li a:hover {
    text-decoration: underline;
    color: #FFAB06;
}

.post,
.post-content {
    background: #fff;
}

.post-content {
    padding: 0.5em 1em;
    margin: 1em;
}

.banner {
    text-align: center;
    padding-top: 25%;
}

.jumbotron {
    background: transparent;
}

.jumbotron h1,
.jumbotron a {
    color: #05c9c0 !important;
    font-weight: 200;
}

.jumbotron a:hover {
    text-decoration: none;
    color: #FFAB06 !important;
}
.jumbotron a:active,
a:-webkit-any-link {
    text-decoration: none !important;
}

span.glyphicon-globe {
    padding: 0 !important;
    margin: 0 !important;
    display: inline;
}

.urls {
    color: #05c9c0;
}