<ul class="posts">
    {% for post in posts %}
    <li class="post">
        <!--Eventually this can be the project thumbnail -->
        <!-- <div class="post-thumbnail">
            <a href="{{ url_for('.user', username=post.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=40) }}">
            </a>
        </div> -->
        <div class="post-content">
            <h3>{{post.title}}</h3>
            <h4><em><strong>{{post.full_title}}</strong></em></h4>
            <div class="post-author">Researchers: <a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.name }}</a></div>
            <p class="post-body">{{ post.synopsis }}</p>
            <div class="post-author"><p>Website: <a href="{{post.website}}">{{post.website}}</a></p></div>
            <p class="post-body">{% if post.twitter %}
                <a href = "{{ post.twitter }}"><span class="socicon">a</span></a> &nbsp;
            {% endif %}
            {% if post.facebook %}
                <a href = "{{ post.facebook }}"><span class="socicon">b</span></a> &nbsp;
            {% endif %}
           
           
            </div>
             </p>
        </li>
        {% endfor %}
</ul>
