<ul class="posts">
    {% for publication in publications %}
    <li class="post user-publications">

        <div class="post-content">
            <h5><a href="{{ url_for('.pubnamepage', id=publication.id) }}">{{publication.full_title}}</h5></a>
            <p class="post-body">

            <a class="btn btn-default" href="{{ url_for('.pubnamepage', id=publication.id) }}"><span class="glyphicon glyphicon-eye-open"></span> View</a>
            {% for researcher in publication.researchers %}
                {% if current_user == researcher  %}
                <a class="btn btn-primary" href="{{ url_for('.edit_publication', id=publication.id) }}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                {% endif %}
                {% endfor %}
            {% if current_user.is_administrator() %}
            <a class="btn btn-danger" href="{{ url_for('.edit_publication', id=publication.id) }}"><span class="glyphicon glyphicon-pencil"></span> Edit [Admin]</a>
            {% endif %}

        </p>
        </div>
        </li>
        {% endfor %}
</ul>
