{% extends "bootstrap/base.html" %}

{% block title %}Life Cycle{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}"><span class="glyphicon glyphicon-refresh"></span> Life Cycle</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated() %}
                <li><a href="{{ url_for('main.landing') }}">Landing</a></li>
                <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Researchers <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.researcherpage') }}">All</a></li>
                        {% for researcher in researchers %}
                        <li><a href="{{ url_for('main.user', username=researcher.username) }}">{{ researcher.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Projects <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.projectpage') }}">All</a></li>
                        {% if current_user.is_authenticated() %}
                        <li role="presentation" class="divider"></li>
                        <li class="add"><a href="{{ url_for('main.postproject') }}"><span class="glyphicon glyphicon-plus"></span>  Post a Project</a></li>
                        {% endif %}
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Publications <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.publicationpage') }}">All</a></li>
                        {% for publication in publications %}
                        <li><a href="{{ url_for('main.pubnamepage', urlname=publication.urlname) }}">{{ publication.title }}</a></li>
                        {% endfor %}
                        {% if current_user.is_authenticated() %}
                        
                        <li class="add"><a href="{{ url_for('main.postpublication') }}"><span class="glyphicon glyphicon-plus"></span>  Post a Publication</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li><a href= "http://lifecycle.ex.ac.uk:8080/share" target="new"><span class="glyphicon glyphicon-globe"></span> Alfresco</a></li> 
                {% endif %}
                
               
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated() %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ current_user.gravatar(size=18) }}">
                        Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-tree-conifer"></span>&nbsp; Member Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$( document ).ready(function() {

    var checktype = '{{ptype}}'
    var type;

    if (checktype = 'Project') {
        type = 'projects'
    } else if (checktype = 'Publication') {
        type = 'publications'
    } else {
        type = '';
    }

    $('input#urlname').before('&nbsp; <span class="glyphicon glyphicon-arrow-right"></span> &nbsp; http://lifecycle.ex.ac.uk/'+type+'/<span class="urls"></span>')

    $("input#urlname").keyup(function(event) {
       var stt=$(this).val();
           $(".urls").text(stt);
    }, function() {
        var stt=$("input#urlname").val();
        $(".urls").text(stt);
    });

    
    $.ajax({
        url: '{{ url_for("main.researchersjson") }}'
        }).done(function (data) {

            var names = data.json_list

                $.each(names, function(key, val){
                    $("#researchers").attr("disabled", false)
                    $("#researchers").after('<div class="authortag">' + val + '</div>')                
                });

            $('.authortag').click(function(){
                var txt = $(this).text()
                console.log(txt)
                $('#researchers').val(function(i,val) { 
                     return val + (!val ? '' : ', ') + txt;
                });
            });
        });

    $.ajax({
        url: '{{ url_for("main.projectsjson") }}'
        }).done(function (data) {
            
            var names = data.json_list
                $.each(names, function(key, val){
                    $("#project_name").attr("disabled", false)
                    $("#project_name").after('<div class="pubtag">' + val + '</div>')                
                });

            $('.pubtag').click(function(){
                var txt = $(this).text()
                console.log(txt)
                $('#project_name').val(txt);
            });
        });

    $("label[for='synopsis']").after('<br><small>HTML tags allowed: &lt;b&gt;&lt;/b&gt; &lt;abbr&gt;&lt;/abbr&gt; &lt;acronym&gt;&lt;/acronym&gt; &lt;a&gt;&lt;/a&gt; &lt;em&gt;&lt;/em&gt; &lt;code&gt;&lt;/code&gt; &lt;li&gt;&lt;/li&gt; &lt;ol&gt;&lt;/ol&gt; &lt;pre&gt;&lt;/pre&gt; &lt;ul&gt;&lt;/ul&gt; &lt;p&gt;&lt;/p&gt; &lt;h3&gt;&lt;/h3&gt; &lt;br/&gt;</small>');
});

document.getElementById("flask-pagedown-synopsis").rows = "30";

</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{{ moment.include_moment() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
