{% extends "demography_base.html" %}

{% block page_content %}

<form>
<label for="doi">Enter DOI: </label>
<input type="text" name="doi" id="doi"> &nbsp; <button type="button" class="btn btn-default btn-sml" id="check">
                                                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Check
                                                </button><br/>
<hr/>                                                
<label for="authors">Authors: </label>
<input type="text" name="authors" id="authors">
<label for="journal">Journal: </label>
<input type="text" name="journal" id="journal">
<label for="year">Year: </label>
<input type="text" name="year" id="year"><br/>
<label for="time">Current Timestamp (dd/mm/yyyy): </label>
<input type="text" name="time" id="time">
<label for="matrix_num">Predicted Matrix Number: </label>
<input type="text" name="matrix_num" id="matrix_num"> (last recorded Matrix Number was {{ m.matrixnumber}} )<br/>
</form>
<div class="info"></div><br/>
<span class="timestamp"></span>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$( document ).ready(function() {

    $('button#check').click(function(e) {
        e.preventDefault()

        var doi_val = $('input#doi').val()
        $.getJSON( "http://api.crossref.org/works/" + doi_val, function( data ) {
            var now = new Date();
            var month = now.getMonth()+1
            var day = now.getDate()
            var year = now.getFullYear()

            var timestamp =
                (month<10 ? '0' : '') + month + '.' +
                (day<10 ? '0' : '') + day + '.' + year;

            $('input#time').val(timestamp)
            $('input#matrix_num').val(parseInt('{{m.matrixnumber}}') + 1)
            
            var items = [];

            $.each( data, function( key, val ) {
                items.push( key , val);
            });

          
            items_object = items[7]
            var journal_url = items_object['URL']

            if (journal_url == 'http://dx.doi.org/') {
                $('div.info').html('<div class="alert alert-danger" role="alert">Journal not found, please try again or enter manually</div>')
            } else {
                $('button#check>span').removeClass('glyphicon-search')
                $('button#check>span').addClass('glyphicon-ok')
                function getAuthors(items_object) {
                    var author_family = []
                    $.each(items_object['author'], function(key, val) {            
                        author_family.push(val['family'])
                    });
                    return author_family.sort()
                  }

                  var year = items_object['issued']['date-parts'][0][0]
                  var authors = getAuthors(items_object)
                  var journal = items_object['container-title'][0]

                  $('div.info').html('<div class="alert alert-success" role="alert">Success, Journal URL: <a href="' + journal_url +'" class="alert-link" target="_blank">' + journal_url + '</a></div>')
                  $('input#authors').val(authors.join('; '))
                  $('input#journal').val(journal)
                  $('input#year').val(year)
            }


        });

    });

});
</script>
{% endblock %}