{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Life Cycle - Edit {{ ptype }}{% endblock %}

{% block page_content %}
<div class="page-header">
	{% if ptype == "Profile" %}
			{% if current_user.is_administrator() %}
				{% if user.name == current_user %}
					<h1>Edit your {{ ptype }}</h1>
				{% else %}
				<h1>Edit {{ user.name }} Profile <span class="label label-danger">Admin View</span></h1>		
				{% endif %}	
			{% else %}
			<h1>Edit your {{ ptype }}</h1>
		    {% endif %}
	{% elif ptype == "Project" %}
		{% if current_user.is_administrator() %}
		<h1>Edit {{ post.title }} Project <span class="label label-danger">Admin View</span></h1>
		{% else %}
	    <h1>Edit your {{ ptype }}</h1>
	    {% endif %}
	{% endif %}
</div>
<div class="col-md-12">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}


{% endblock %}
