{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Demography{% endblock %}

{% block content %}


<div id="map"></div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.css' rel='stylesheet' />
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
<link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
<link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' 
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script>
$( document ).ready(function() {

  L.mapbox.accessToken = 'pk.eyJ1IjoiZnJhbmNlc2Nhc2FyZ2VudCIsImEiOiJvZmFuUzM0In0.-gsScOsPRxKs9E8qNy3qwg'
  var baseLayer = L.mapbox.tileLayer('francescasargent.ja3p4m1n', {
    maxZoom: 5
  });
  var markers = L.markerClusterGroup({
                      polygonOptions: {
                        fillColor: '#9b59b6',
                        color: '#9b59b6',
                        weight: 1,
                        opacity: 1,
                        fillOpacity: 0.5
                      }
                    });

  $.getJSON("{{ url_for(".geojson") }}", function(data) {
    var geojson = L.geoJson(data, {
      onEachFeature: function (feature, layer) {

        layer.setIcon(L.mapbox.marker.icon({'marker-color': '#27ae60'}));

        layer.bindPopup('<em>'+feature.properties.name+'</em><br/>'+feature.properties.population+', '+feature.properties.country);

      }
    });
    markers.addLayer(geojson);

    var map = L.map('map', {maxZoom: 9, minZoom: 3}).fitBounds(markers.getBounds());
    baseLayer.addTo(map);
    markers.addTo(baseLayer);

  });
});

</script>
{% endblock %}