{% extends "demography_base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Demography{% endblock %}

{% block content %}


<div id ="loading"><p><span class="glyphicon glyphicon-map-marker"></span></p></div>
<div id="map"></div>

<div id="bottom-left-panel">
  <div class="info panel panel-default" id="info">
  </div> <br/>

  <div class="classification panel panel-default" id="classification">
    <table class="table table-compact">
    <tr>
      <th>&nbsp;<span class="glyphicon glyphicon-leaf"></th>
      <th>Kingdom</th>
      <th>Phylum</th>
      <th>Class</th>
      <th>Order</th>
      <th>Family</th>
      <th>Genus</th>
      <th>Species</th>
    </tr>
    <tr>
      <td></td>
      <td class="c_kingdom"></td>
      <td class="c_phylum"></td>
      <td class="c_class"></td>
      <td class="c_order"></td>
      <td class="c_family"></td>
      <td class="c_genus"></td>
      <td class="c_species"></td>
    </tr>
  </table>
  </div>
</div>

<div id="top-right-panel">
  <div class="common panel panel-default" id="common">
  </div>

  <div class="planttype panel panel-default" id="planttype">
  </div>

  <div class="ecoregion panel panel-default" id="ecoregion">
  </div>

</div>





{% endblock %}

{% block scripts %}
{{ super() }}
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.css' rel='stylesheet' />
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
<link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
<link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' 
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script>
$( document ).ready(function() {
  $('#info').fadeOut();
  $('#classification').hide()


  $(function() {
      $('#loading').css({
          'position' : 'absolute',
          'left' : '50%',
          'top' : '50%',
          'margin-left' : -$('#loading').outerWidth()/2,
          'margin-top' : -$('#loading').outerHeight()/2
      });
  });



  L.mapbox.accessToken = 'pk.eyJ1IjoiZnJhbmNlc2Nhc2FyZ2VudCIsImEiOiJvZmFuUzM0In0.-gsScOsPRxKs9E8qNy3qwg'

  var baseLayer = L.mapbox.tileLayer('francescasargent.ja3p4m1n', {
    maxZoom: 5
  });

  var markers = L.markerClusterGroup({
                      polygonOptions: {
                        fillColor: '#9b59b6',
                        color: '#9b59b6',
                        weight: 1,
                        opacity: 1,
                        fillOpacity: 0.5
                      }
                    });

  $.getJSON("{{ url_for(".geojson") }}", function(data) {
    var geojson = L.geoJson(data, {
      onEachFeature: function (feature, layer) {

        layer.setIcon(L.mapbox.marker.icon({'marker-color': '#27ae60'}));

        layer.bindPopup('<em>'+feature.properties.name+'</em><br/>'+feature.properties.population+', '+feature.properties.country+'<p><a><span class="float focus glyphicon glyphicon-search" aria-hidden="true"></a></span></p>');
  


      }
    });
    markers.addLayer(geojson);

    var map = L.map('map', {maxZoom: 9, minZoom: 3}).fitBounds(markers.getBounds());
    baseLayer.addTo(map).on('load', addMarkers);
    
    function addMarkers() {
      console.log("loaded");
      markers.addTo(map);
      $('#map').animate({
        'opacity' : '1',
        'background' : '#c0c0c0'
      }, 3000);
      $('#loading').fadeOut()
    }

    markers.on('click',function(e, layer, map) {  

      var feature = e.layer.feature;
      console.log(feature.properties.name);
      console.log(feature.properties.species.localimageurl);

      if ((feature.properties.species.commonname).length > 0) {
          function squareImage(classname) {
        var width = $('.' + classname).width()
        var height = $('.' + classname).height()

          $('.species').css({
            "background": "url({{ url_for('static', filename='images/eol/thumbs/big/big') }}"+feature.properties.species.localimageurl+".jpg) 50% 50% no-repeat",
            "background-position" : "center",
            "border-radius" : "50%",
            "border" : "8px solid #FFAB06",
            "margin" : "50px"
          });

        $('.species').animate({
          "opacity" : "1"
        }, 1000)
      }

      function getEco(string) {
        var string = String(string)
        var array = string.split(';')
        console.log(array[0]);
        $.each(array, function(index, value) {
          $.getJSON("{{ url_for(".ecoregion") }}", function(data) {
              var terrain = data[value]
              console.log(terrain)
            });
        });
      }

      function setContent() {
      var img = feature.properties.species.localimageurl
      var commoncontent = '<div class="commoncontent sp"><div class="panel-heading sp"><h3>'+feature.properties.species.commonname+'</h3></div><ul class="list-group"><li class="list-group-item sp"><em>'+feature.properties.name+'</em></li><li class="list-group-item thumbnail sp"><div class="species"><img class="speciesimage" src="{{ url_for("static", filename="images/eol/thumbs/big/big") }}' + feature.properties.species.localimageurl + '.jpg"></div></li><li class="list-group-item sp"><span class= "glyphicon glyphicon-link"></span>&nbsp;<a href="'+feature.properties.species.originalpageurl+'" target="_blank">'+feature.properties.species.originalpageurl+'</a></li></ul>'
      $('#common').html(commoncontent);
      $('.c_kingdom').html(feature.properties.species.kingdom + '<span class="glyphicon glyphicon-chevron-right"></span>')
      $('.c_phylum').html(feature.properties.species.phylum + '<span class="glyphicon glyphicon-chevron-right"></span>')
      $('.c_class').html(feature.properties.species.class + '<span class="glyphicon glyphicon-chevron-right"></span>')
      $('.c_order').html(feature.properties.species.order + '<span class="glyphicon glyphicon-chevron-right"></span>')
      $('.c_family').html(feature.properties.species.family + '<span class="glyphicon glyphicon-chevron-right"></span>')
      $('.c_genus').html(feature.properties.species.genus + '<span class="glyphicon glyphicon-chevron-right"></span>')
      $('.c_species').html(feature.properties.species.name)
      $('.planttype').html('<div class= "panel-heading sp"><span class="glyphicon glyphicon-grain"></span>&nbsp;&nbsp;Species Data</div><ul class="list-group"><li class="list-group-item sp"><strong>Plant Type: </strong>&nbsp;'+feature.properties.species.planttype+'</li><li class="list-group-item sp"><strong>Growth Type: </strong>&nbsp;'+feature.properties.species.growthtype+'</li></ul>')
      $('.ecoregion').html('<div class= "panel-heading sp"><span class="glyphicon glyphicon glyphicon-globe"></span>&nbsp;&nbsp;Eco Region</div>');
      var ecoregion = feature.properties.species.ecoregion;
      getEco(ecoregion)
    }
    
     
    setContent();

    $('.commoncontent').fadeIn(1000, function() {
      squareImage('speciesimage');
    });  

      $('.focus').click(function(e, map){
          function setDefaultContent(statusstudy, statuselsewhere) {
          var content = '<div class="panel-heading"><strong>#'+feature.properties.matrixnumber+' </strong><em> '+feature.properties.name+'</em></div><ul class="list-group"><li class="list-group-item '+statusstudy+' '+statuselsewhere+'-else "><em>'+feature.properties.name+'</em> is '+ statusstudy +' in '+feature.properties.continent+', and '+ statuselsewhere +' elsewhere</li></ul>';
          $('#info').html(content);
          $('#info').fadeIn();
          $('#classification').fadeIn();
        }

        var statusstudy = feature.properties.statusstudy;
        var statuselsewhere = feature.properties.statuselsewhere;
        setDefaultContent(statusstudy, statuselsewhere); 

      });

      } else {
        console.log("No data yet")
      }

      
  });

  map.on('move', empty);

  empty();

  function empty() {
    $('#info').html('');
    $('#common').html('');
    $('#classification').hide();
    $('#planttype').html('');
    $('#ecoregion').html('');
  }
    
});

});

</script>
{% endblock %}