{% extends "demography_base.html" %}

{% block page_content %}

<form>
<label for="matrix">Matrix: </label>
<input type="text" name="matrix" id="matrix">
<label for="classnames">Class Names: </label>
<input type="text" name="classnames" id="classnames"> &nbsp; <button type="button" href="javascript:void();" class="btn btn-default btn-sml" id="check">
                                                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Check
                                                </button><br/>

<label for="dimension">Dimension: </label>
<input type="text" name="dimension" id="dimension">

<div class="info"></div><br/>
<div id="svgContainer"></div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$( document ).ready(function() {
  $(function() {
    $('button#check').bind('click', function() {          
      var matrix = $('input#matrix').val();
      var classnames = $('input#classnames').val();
        $.post('{{ url_for("demography.matrixresult") }}', {
        matrix : matrix,
        classnames : classnames
      }).done(function(data) {
        if (data.squared == true) {
          console.log(data.classnames)
          console.log(data.matrix)
          $('button#check>span').removeClass('glyphicon-search')
          $('button#check>span').addClass('glyphicon-ok')
          $('button#check').addClass('btn-success')
          $('input#dimension').val(data.dimension)
          $('div.info').html('')

          xhr = new XMLHttpRequest();
          xhr.open("GET","{{ url_for('static', filename='images/dot/') }}" + data.matrixnumber + "_dot.svg",false);
          // Following line is just to be on the safe side;
          // not needed if your server delivers SVG with correct MIME type
          xhr.overrideMimeType("image/svg+xml");
          xhr.send("");
          document.getElementById("svgContainer")
            .appendChild(xhr.responseXML.documentElement);

        } else {
          console.log('Server Side Error')
        }
      }).fail(function() {
        $('div.info').html('<div class="alert alert-danger" role="alert">Invalid Class Number vs Matrix Size. Please check that the matrix size is equal to the square of the number of class names.</div>')
        $('button#check').addClass('btn-danger')
      });
    })
  });
});
</script>
{% endblock %}