{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Life Cycle - Add a new {{ ptype }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Add a new {{ ptype }}</h1><br/>
    {% if ptype == "Project" %}
    <div><p class=" alert alert-info"><span class="socicon">a</span> &nbsp; The Administrator of this website will create a Twitter Widget for your project using your Twitter handle. By default, this will be @spand_ex. </p></div>
    {% endif %}
</div>
<div class="col-md-12 wtform">
    {{ wtf.quick_form(form) }}
</div>


{% endblock %}

