{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block page_content %}

<div class="post-content">
    <h3>{{post.title}}</h3>
    <h4><em><strong>{{post.full_title}}</strong></em></h4>
    <div class="post-author">Researchers: {% for researcher in post.researchers %}
                <a href="{{ url_for('.user', username=researcher.username) }}">{{ researcher.name }}</a>,{% endfor %}</div>
    <p class="post-body">{{ post.synopsis }}</p>
    <div class="post-author"><p>Website: <a href="{{post.website}}">{{post.website}}</a></p></div>
    <p class="post-body">{% if post.twitter_name %}
        <a href = "http://twitter.com/{{ post.twitter_name }}" target="new"><span class="socicon">a</span> {{ post.twitter }}</a>&nbsp;
    {% endif %}
    {% if post.facebook %}
        <a href = "{{ post.facebook }}"><span class="socicon">b</span></a> &nbsp;
    {% endif %}

    {% for researcher in post.researchers %}
        {% if current_user == researcher  %}
        <a href="{{ url_for('.edit_project', urlname=post.urlname) }}">
            <span class="label label-primary">Edit</span>
        </a>
        {% endif %}
        {% endfor %}
    {% if current_user.is_administrator() %}
    <a href="{{ url_for('.edit_project', urlname=post.urlname) }}">
        <span class="label label-danger">Edit [Admin]</span>
    </a>
    {% endif %}

</p>
</div>

{% endblock %}

