{% extends "base.html" %}

{% block title %}Life Cycle - Researchers - {{ user.username }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <img class="img-circle profile-thumbnail" src="{{ user.gravatar(size=250) }}">
    <div class="profile-header col-sm-5">
        <h2>{{ user.name }}</h2>
        {% if user.jobtitle %}
        <h4>{{ user.jobtitle }}</h4>
        {% endif %}
        {% if user.website %}
        <p>
            <a href="{{user.website}}">{{user.website}}<br/></a>
        
        {% endif %}
        {% if user.pub_email or user.twitter or user.linkedin or user.google %}
            {% if user.pub_email %}
                <a href = "mailto: {{user.pub_email}}"><span class="socicon">1</span> {{ user.pub_email }}</a>&nbsp;
                {% else %}
                <a href = "mailto: {{user.email}}"><span class="socicon">1</span></a> &nbsp;
            {% endif %}
            {% if user.twitter_name %}
                <a href = "http://twitter.com/{{ user.twitter_name }}" target="_blank"><span class="socicon">a</span> {{ user.twitter }}</a> &nbsp; <br/>
            {% endif %}
            {% if user.linkedin %}
                <a href = "{{ user.linkedin }}" target="_blank"><span class="socicon">j</span></a> &nbsp;
            {% endif %}
            {% if user.google %}
                <a href = "{{ user.google }}" target="_blank"><span class="socicon">c</span></a> &nbsp;
            {% endif %}
            {% if user.google_scholar %}
                <a href = "{{ user.google_scholar }}" target="_blank"><span class="glyphicon glyphicon-link">c</span> Google Scholar</a> &nbsp;
            {% endif %}
            {% if user.research_gate %}
                <a href = "{{ user.research_gate }}" target="_blank"><span class="glyphicon glyphicon-link">c</span> Research Gate</a> &nbsp;
            {% endif %}

        {% endif %}
        {% if current_user.is_administrator() %}
        <p><a class= "badge" href="mailto:{{ user.email }}">{{ user.email }}</a><br>
        <span class="badge">Last seen {{ moment(user.last_seen).fromNow() }}.</span>
        {% endif %}
        </p>
        
        <p>
            {% if user == current_user %}
            <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Edit Profile</a>
            {% endif %}
            {% if current_user.is_administrator() %}
            <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">Edit Profile [Admin]</a>
            {% endif %}
        </p>
    </div>
        <div class="col-sm-4">
        {% if user.tw_confirmed %}
       <a class="twitter-timeline" href="https://twitter.com/spand_ex" width="250" height="250" data-widget-id="{{ user.tw_widget_id}}">Tweets by {{ user.twitter }}</a>
       {% else %}
       <a class="twitter-timeline" href="https://twitter.com/spand_ex" width="250" height="250" data-widget-id="555417080305295361">Tweets by @spand_ex</a>
       {% endif %}
    </div>

<div class="row">
    {% if user.quals %}
    <div class="col-sm-6">
        <h5>Qualifications</h5>
        <p class="well">{% if user.quals_html %}{{ user.quals | safe }}{% else %}{{ user.quals }}{% endif %}</p>
    </div>
    {% endif %}

</div>
</div>

<div class="row hr">
    {% if user.about_me %}
        <h3>Biography</h3>
        <p class= "well">{% if user.about_me_html %}{{ user.about_me | safe }}{% else %}{{ user.about_me }}{% endif %}</p>
    {% endif %}
</div>

{% if user.projects.count() >= 1 %}
<div class="row">
    <div class="col-sm-6">
            <h3>Projects</h3>   
    {% include '_posts.html' %}
</div>
{% endif %}

{% if user.publications.count() >= 1 %}
    <div class="col-sm-6">
            <h3>Publications</h3>   
    {% include '_publications.html' %}
</div>
{% endif %}


{% endblock %}